@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --green500: hsl(158, 36%, 37%);
    --green700: hsl(158, 42%, 18%);
    --black: hsl(212, 21%, 14%);
    --grey: hsl(228, 12%, 48%);
    --cream: hsl(30, 38%, 92%); 
    --white: hsl(0, 0%, 100%);
    --medium_text: 500;
    --heavy_text: 700;
    --body_font_size: clamp(0.875rem, 0.8rem + 0.7vw, 3rem);
    --secondary_font: Fraunces;
    --main_font: Montserrat;
}

body{
    font-family: var(--main_font), sans-serif;
    font-size: var(--body_font_size);
    color: var(--grey);
    background-color: var(--cream);
    padding: 0.5em;
    font-weight: var(--medium_text);
}

.container {
    max-width: 90%;
    margin: 20px auto;
    background-color: var(--white);
    border-radius: 0.8em;
}

figure > picture > img{
    max-width: 100%;
    margin-bottom: 1.4em;
    border-top-right-radius: 0.7em;
    border-top-left-radius: 0.7em;
}

.details_container{
    max-inline-size: 34.5ch;
    margin: 0 auto;
}
.details{
    padding: 0 1em 1.5em;
}

.product_type{
    display: block;
    font-size: clamp(0.6rem, 0.8rem, 1rem);
    letter-spacing: 0.4em;
    font-weight: var(--medium_text);
    margin-bottom: 1em;
    margin-top: 0.1em;
}

h1,.big{
    font-family: var(--secondary_font);
}

h1{
    font-weight: var(--heavy_text);
    color: var(--black);
    margin-bottom: 0.5em;
    line-height: 1em;
    font-size: 2rem;
}

p{
    line-height: 1.5em;
    margin-bottom: 1.5em;
}

/*p > .break{
    display: block;
}*/
.price{
    display: flex;
    max-width: 70%;
    height: 2.5em;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.price > .big{
    font-size: 2rem;
    font-weight: var(--heavy_text);
    color: var(--green500);
}

.price > .small{
    text-decoration: line-through;
    font-size: 1rem;
}

button{
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 1.4em;
    border-radius: 0.5em;
    border: none;
    background-color: var(--green500);

    &:hover{
        cursor: pointer;
        background-color: var(--green700);
    }
}

.button-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

a{
    text-decoration: none;
}

button > div{
    color: var(--white);
    font-weight: var(--heavy_text);
    font-size: 1rem;
}
